@media only screen and (max-width: 1200px){
  .navLink{
    border-color: transparent;
    margin-left: 5%;
  }
  .navLink:hover{
    color: deeppink;
  }
  .dropdown-menu[data-bs-popper] {
  margin-top: 0% !important ;
  }
.dropdown-menu{
  background-color: transparent !important ;
}
}

.nav-link{
  padding: 0px;
}

.dropdown-toggle::after {
    /* display: none; */
}

.dropdown-menu[data-bs-popper] {
  margin-top: 5%
}

.dropdown-menu{
  border-width: 0px;
  border-radius: 0px;
  background-color: rgb(254 226 226);
}


.contain{
  display:flex;
  justify-content: center;
  align-items:center;
}

.space{
  margin-top:5%;
}

@media only screen and (max-width: 290px){
  .fs1{
    font-size: 2rem;
  }
  .fs2{
    font-size: 0.875rem;
  }
  .fs3{
    font-size: 1.875rem;
  }
  .fs4{
    font-size: 2.25rem;
  }
}

@media only screen and (min-width: 290px) and (max-width: 450px){
  .fs1{
    font-size: 2.25rem;
  }
  .fs2{
    font-size: 0.875rem;
  }
  .fs3{
    font-size: 1.875rem;
  }
  .fs4{
    font-size: 2.25rem;
  }
}

@media only screen and (min-width: 451px) and (max-width: 820px){
  .fs1{
    font-size: 4.25rem;
  }
  .fs2{
    font-size: 0.875rem;
  }
  .fs3{
    font-size: 1.875rem;
  }
  .fs4{
    font-size: 2.25rem;
  }
}

@media only screen and (min-width: 821px){
  .fs1{
    font-size: 7rem;
  }
  .fs4{
    font-size: 5rem;
  }
}


